body {
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: 160px 1fr;
        align-items: center;
        gap: 10px;
        padding: 1rem;
        background-color: #335C67;
        font-family: 'Montserrat', sans-serif;
        color: #FFF3B0;
        height: 100%;
}

p {
    margin: 0;
    text-overflow: ellipsis;
}

.title-add {
    display: grid;
    grid-template-rows: 60px 60px;
    justify-items: end;
    align-items: center;
    background-color: #540B0E;
    border-radius: 10px;
    border: 5px solid #E09F3E;
    padding: 10px;
    gap: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.libTitle {
    grid-column: 1 / 2;
    font-size: 50px;
    font-weight: 500;
    
}

.addABook {
   grid-column: 1 / 2;
   grid-row: 2 / 3;
   font-size: 30px;
}

.addBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    background-color: #E09F3E;
    color: black;
    border-radius: 50%;
    border: none;
    font-size: 40px;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.deleteBtn {
    align-self: end;
    height: 30px;
    background-color: #E09F3E;
    color: black;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


#bookForm {
    
    
    
}

.fieldSet {
    display: grid;
    gap: 8px;
    border: none;
    background-color: #540B0E;
    border-radius: 10px;
    border: 5px solid #E09F3E;
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
    

#bookForm fieldset input {
    border-radius: 2px;
    border: none;
}

#bookForm fieldset button {
    border-radius: 2px;
    border: none;
}

.bookCard {
    display: grid;
    height: 200px;
    width: 150px;
    background-color: #540B0E;
    color: #FFF3B0;
    border-radius: 10px;
    padding: 10px;
    border-left: 10px solid #E09F3E;
    font-size: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.formContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        gap: 10px;
        padding: 1rem;
        background-color: #335C67;
        justify-self: start;
    

}

.bookContainer {
    grid-column: span 2;
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
}